

/*** RESPONSIVE ***/

/* responsive tablet - 830px*/


@media screen and (min-width: 830px) {
    .container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
    }
        #content-blu {
            width: 60%;
        } 
        .green {
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .small-content {
            height: 600px;
            width: 30%;
        }
      
        .no-flex {
            width: 90%;
        }

        .h250 {
            height: 250px;
        }

        .calc {
            width: calc(90% / 2);
        }

        .google {
            width: 40%;
        }

}


/* responsive desktop - 1920px*/

@media screen and (min-width: 1920px) {



    .container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .flex-row {
        flex-direction: row;
        justify-content: center;

    }


    .about-us {
        align-items: center;
    }

    
    .calc {
        width: calc(90% / 3);
    }

    img {
        width: 30%;
        align-self: space-around;
    }

    .no-flex {
        width: 30%;
    }

    .w30 {
        width: 30%;
    }

    .w90 {
        width: 90%;
    }
}