* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* utilities */
.flex {
    display: flex
}

.flex-column {
    display: flex;
    flex-direction: column;
}



/**** HEADER ****/

header {
    height: 30px;
    width: 100%;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



/**** MAIN ****/

/* container generale */
.container {
    width: 100%;
    flex-direction: column;
}


/* content-blu*/

#content-blu {
    background-color: rgb(84, 84, 247);
    height: 600px;
    width: 90%;
    margin: 10px;
    align-self: center;
    border-radius: 8%;
}

/* contenitori piccoli */



.small-content {
    height: 250px;
    width: 90%;
    margin: 10px;
    align-self: center;
    border-radius: 8%;
}

.green {
    background-color: rgb(139, 201, 139);
}

.pink {
    background-color: pink;
}

.orange {
    background-color: orange;
}

.lightblue {
    background-color: lightblue;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

/* text */

.text-content {
    height: 50px;
    width: 90%;
    margin: 10px;
    align-self: center;
    text-align: center;
}


/* secondo contenitore */

.big {
    height: 800px;
    
}

    /* all'interno del secondo contenitore */

    img {
        width: 90%;
        margin: 10px;
        align-self: center;
    }


    .white {
        height: 60%;
        background-color: white;
    }


    .text-content-big {
        height: 150px;
        width: 90%;
        margin: 10px;
        align-self: center;
        text-align: center;
    }

    .h400 {
        height: 400px;
    }


  .text-white {
      color: white;
  }





/* container grande blu con sei container interni */


.second {
  
    background-color: white;
}

/* contenitore about us */

.h600 {
    height: 600px;
}